<!doctype html>
<html lang="en">

<head>
   <title>Event-Organizer Details</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
   <div class="table-responsive">
      <div class="container" style="padding-: 10px">
         <table class="table table-striped">
            <tr class="theaded-light">
               <th>Event ID</th>
               <th>Event Name</th>
               <th>Organizer ID</th>
               <th>Organizer Name</th>
               <th>Email</th>
               <th>Phone Number</th>
               <th></th>
            </tr>
            <% organizer.forEach((organizer, index) => { %>
            <tr>
               <td><%= organizer.event_id %></td>
               <td><%= organizer.event_name %></td>
               <td><%= organizer.organizer_id %></td>
               <td><%= organizer.organizer_name %></td>
               <td><%= organizer.email %></td>
               <td><%= organizer.phone_number %></td>
               <td><a class="action" href="update_organizer/<%= organizer.organizer_id %>">Edit</a></td>
            </tr>
            <% }) %>
         </table>
      </div>
      <footer class="page-footer font-small blue pt-4">
         <div class="footer-copyright text-center py-3">Copyright 2019, Acharya </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</body>

</html>